.body{
    background-image: url(../pictures/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.center{
    position: fixed;
    left: 26%;
    top: 10%;
    width: 50%;
    height: 60%;

}

.mosquito1{
    height: 50px;
    width: 50px;
}

.mosquito2{
    height:70px;
    width: 70px;
}

.mosquito3{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1)
}

.ladoB{
    transform: scaleX(-1)
}

.div1{
    position: relative;
    margin-top: 40%;
    margin-left: 45%;
}
