.body{
    background-image: url(../pictures/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.center{
    position: fixed;
    left: 26%;
    top: 10%;
    width: 50%;
    height: 60%;

}

.mosquito1{
    height: 50px;
    width: 50px;
}

.mosquito2{
    height:70px;
    width: 70px;
}

.mosquito3{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1)
}

.ladoB{
    transform: scaleX(-1)
}
/*
.backGroungImage{
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.div{
    position: relative;
    height: 90px;
    margin-top: 150%;
    margin-left: 198%; 
}

.div2{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 10px;
    margin-left: 33.8px;
}

*/